body {
    background-color: #000222;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Ensures no scrolling outside the viewport */
    overflow-x: hidden;
    height: 100vh;
    position: relative; /* Needed for absolute positioning of pseudo-elements */
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse, transparent 40%, black 110%);
    pointer-events: none; /* Allows interaction with elements below */
    transform: scale(1.2); /* Adjust scale for desired fisheye effect */
}

.container {
    width: 100%;
    margin: auto;
    padding: 10px;
    padding-bottom: 30px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #FFF;
    font-size: 10px; /* Adjust the font size as needed */
    padding: 5px 10px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.info-panel {
    display: flex;
    align-items: center; /* Align items horizontally */
    justify-content: space-between; /* Spread items across the container */
}

.info-message {
    margin: 0;
    padding: 3px;
    padding-right: 15px;
}

.post {
    border: None;
    margin-top: 10px;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 0.65em;
    filter: blur(0.5px);
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
    animation: flicker 1s infinite;
}

.terminal {
    color: lime; 
    font-family: 'Courier New', Courier, monospace; 
}

.guest {
    color: orange; 
}

.at {
    color: white; 
}

.date {
    color: lime;
}

.prompt {
    color: white; 
}

.cursor {
    display: inline;
    animation: blink 1s infinite; /* Adjust animation duration as needed */
    color: white;
    vertical-align: text-bottom;
    filter: blur(0.5px);
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

pre {
    background: linear-gradient(to top right, red 0%, violet 25%, blue 50%, green 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.64em; 
    line-height: 1em; 
    filter: blur(0.5px);
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0%, 100% { text-shadow: 0 0 5px rgba(0, 255, 0, 1); }
    50% { text-shadow: 0 0 8px rgba(0, 255, 0, 1); }
}