body {
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.screen {
    animation: flicker 1s infinite;
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 20px #000;
    filter: saturate(4);
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
    overflow: hidden;
}
.top_output {
    display: flex;
    justify-content: center;
}

pre {
    color: white;
    font-size: 0.6em;
    /* white-space: pre-wrap; */
    /*word-wrap: break-word; */
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
    animation: flicker 1s infinite;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    border-radius: 15%; /* Makes the container circular */
    box-sizing: border-box;
    overflow: hidden; /* Ensures no text spills outside the container */
    position: relative;
    filter: blur(0.5px);
}

pre::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 40%, black 80%);
    pointer-events: none; /* Allows text selection behind the overlay */
}

@keyframes flicker {
    0%, 100% { text-shadow: 0 0 5px rgba(0, 255, 0, 1); }
    50% { text-shadow: 0 0 8px rgba(0, 255, 0, 1); }
}

/* Media query for screens wider than 768px */
@media (min-width: 768px) {
    pre {
        font-size: 1em; /* Increased font size */
        padding: 25px; /* Larger padding */
    }
    pre::after {
        transform: translate(-50%, -50%) scale(3); /* Larger scale for the radial gradient effect */
    }
}
