body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.canvas-container {
    position: relative;
    width: 250px;
    height: 250px;
}
canvas {
    display: block;
    margin: auto;
    background-color: #000;
    border: 1px solid lime;
    width: 200px;
    height: 200px;
    filter: blur(1px) saturate(4);
    transform: scale(1.2, 0.9);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 0%, black 140%);
    transform: scale(1.2, 0.9);
    pointer-events: none; /* Makes sure the overlay doesn't interfere with canvas interaction */
}

@keyframes flicker {
    0%, 100% { box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); }
    50% { box-shadow: 0 0 20px rgba(0, 255, 0, 1); }
}
